:root {
  --darkblue: #0D1321;
  --mediumblue: #1D2D44;
  --blue: #3E5C76;
  --lightblue: #748CAB;
  --grey: #e9f2f5;
  --silver: #ADA8B6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  /* font-size: 1.4rem; */
  color: #fff;
  font-family: 'Rubik', sans-serif;
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: #3e5c76;
  background: -webkit-linear-gradient(161deg, #3e5c76 0%, #1d2d44 50%, #0d1321 100%);
  background: linear-gradient(161deg, #3e5c76 0%, #1d2d44 50%, #0d1321 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.img-cont{
  width: 100%;
  max-width: 80px;
  min-width: 80px;
  display: flex;
  margin: 0 auto;
  padding: .5rem .8rem;
  z-index: 1000;
  
}

img{
  max-width: 100%;
}

.img-cont img{
  transition: all .2s ease-in-out;
  
}
.img-cont:hover img{
  transform: scale(1.2);
}

header{
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 7fr 1fr 7fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
  padding: .2rem;
  background-color: var(--grey);
  box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  -webkit-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  -moz-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  text-align: center;
  z-index: 1000;

}

header nav {
  width: 100%;
}

header .nav-der{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .nav-izq{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@media screen and (max-width: 900px){ 
  header a{
    font-size: 1rem;

  }
  header nav a{
    padding: .2rem !important;
  }
  header .nav-der{
    flex-direction: column;
    justify-content: center;

  }
  header .nav-der a{
    font-size: 1.2rem;
  }
  header .nav-izq{
    flex-direction: column;
    justify-content: center;
  }
  header .nav-izq a{
    font-size: 1.2rem;
  }
  
}

header nav a{
  text-decoration: none;
  color: var(--mediumblue);
  text-shadow: 1px 1px 0px #FFFFFF, 3px 2px 0px rgba(0,0,0,0.15);
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

header nav a:hover{
  transform: scale(1.1);
}
section{
  overflow: hidden;
  
}

section .slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  /* max-height: 100vh; */
  overflow: hidden;
  position: absolute;
  z-index: -1;
  /* top: 1rem; */
  padding-top: 4rem;

}
@media screen and (max-width: 1000px){
  section .slider{
    position: relative;
    top: 1.8rem;
  }

}


section .slider ul{
  animation: slide 20s infinite alternate ease-in-out;
  display: flex;
  padding: 0;
  width: 500vw;
  height: auto;
  position: relative;
  left: 0;
  
}

section .slider ul li{
  list-style: none;
  /* min-width: 800px; */
  width: 100vw;
  max-width: 100%;
  height: 100vh;

}

@media screen and (max-width: 1000px){
  section .slider ul li{
    height: auto;
  }
}

section .slider ul li img{
  /* height: 100%; */
  width: 100%;
}

section .slider img{
  width: 100%;
}

@keyframes slide {
  0%{left: 0vw;}
  15%{left: 0vw;}

  20%{left: -100vw;}
  35%{left: -100vw;}

  40%{left: -200vw;}
  55%{left: -200vw;}

  60%{left: -300vw;}
  75%{left: -300vw;}

  80%{left: -400vw;}
  100%{left: -400vw;}
}


section .box-inv {

  height: 100vh;
  max-width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1600px){
  section .box-inv {
    height: 60vw;
  }
}

@media screen and (max-width: 1000px){
  section .box-inv {
    height: fit-content;
  }
}

section .box-inv .text-cont{
  color: var(--darkblue);
  text-shadow: 1px 1px 0px #FFFFFF, 3px 2px 0px rgba(0,0,0,0.15);
  position: absolute;
  top: 30vw;
  /* left: 0%; */
  padding: 2rem;
  width: auto;
  

  background-color: var(--grey);
  box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  -webkit-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  -moz-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  border-radius: 10px;
  text-align: center;

  
}

section .box-inv .text-cont h2{
  font-size: 3rem;  
}

section .box-inv .text-cont h3 {
  font-size: 1.6rem;
}
section .box-inv .text-cont span{
  font-size: 1.4rem;
  color: var(--lightblue);
  text-shadow: 1px 1px 0px var(--darkblue), 3px 2px 0px rgba(0,0,0,0.15);

}

@media screen and (max-width: 1000px){
  section .box-inv .text-cont h2{
    font-size: 1.8rem;  
  }
  section .box-inv .text-cont h3 {
    font-size: 1.3rem;
  }
  section .box-inv .text-cont span{
    font-size: 1.2rem;
  }
}

section .box-inv .text-cont form{
  display: flex;
  /* flex-direction: column; */
  justify-content:center;
  align-items: center;
  padding-top:1rem;
}

section .box-inv .text-cont form input{
  padding:.6rem;
  border-radius: 5px;
}

section .box-inv .text-cont form input[type="email"]{
  margin-right:.5rem;
  flex: 3;
  border: 3px solid var(--darkblue);
  border-radius: 10px;
  background-color: var(--grey);
  transition: all 0.2s ease-in-out;
}

section .box-inv .text-cont form input[type="email"]:active{
  border-color: var(--lightblue);
}


section .box-inv .text-cont form input[type="submit"]{
  margin-left:.5rem;
  flex: 1;
  border: 3px solid var(--darkblue);
  border-radius: 10px;
  color: var(--darkblue);
  font-size: 1rem;
  background-color: var(--grey);
  text-shadow: 1px 1px 0px #FFFFFF, 3px 2px 0px rgba(0,0,0,0.15);
  transition: all 0.2s ease-in-out;
}

section .box-inv .text-cont form input[type="submit"]:hover{
  border-color: var(--lightblue);
  color: var(--lightblue);
}

@media screen and (max-width: 1000px){
  section .box-inv {
    width: auto;
    height: auto;
    margin-top:2rem;
  }
  section .box-inv .text-cont{
    position: relative;
    box-shadow: none;
    width: 100%;
    height: auto;
    border-radius:0px;
    top: 0;
  }
  section .box-inv .text-cont form input{
    padding:.6rem;
  }
  
}

section .vid-cont{
  margin-top:4rem;
  display: flex;
  justify-content:center;
  align-items:center;
  min-width: 100vw;
  height: 70vh;
  position: relative;

}

section .vid-cont iframe{
  position: relative;
  border: 3px solid var(--grey);
  padding: .5rem;
  border-radius: 10px;
  
}

section .features{
  width: 100%;
  height: 50vh;
  background-color: var(--grey);
  color: var(--darkblue);
}

section .features .cards{
  max-width: 1200px;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 1rem;
  padding-top: 2rem;
  /* justify-content: center; */
  align-items: center;

}

section .features .cards .card{
  min-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;

}
section .features .cards .card .svg{
  width: 40%;
}

section .features .cards .card h3{
  text-align: center;
  margin: 1rem 0;
}

section .features .cards .card p{
  text-align: justify;
}


@media screen and (max-width: 1000px){
  section .features{
    height: auto;
  }
  section .features .cards{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  section .features .cards .card{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    height: auto;
    padding: 0 .5rem;
  }
  section .features .cards .card .svg {
    width: 100%;
    grid-row: 1/3;
    padding: 1rem;
  }
  section .features .cards .card h3{
    text-align: left;
    margin: 0;
  }
}

section .buy-sect{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 1rem;
  /* padding: 5rem; */
  justify-content: center;
  padding-bottom: 4rem;
  /* align-items: center; */
}

section .buy-sect h2{
  grid-column: 1/3;
  text-align: center;
  padding: 3rem;
  color: var(--grey);
  text-shadow: 1px 1px 0px var(--darkblue), 3px 2px 0px rgba(0,0,0,0.15);
}

section .buy-card h3{
  font-size: 1.8em;
}

section .buy-sect .buy{
  color: var(--darkblue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section .buy-sect .buy-card{
  position: relative;
  background-color: var(--grey);
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  height: 700px;
  border-radius:10px;
  box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  -webkit-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  -moz-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
  border: 2px solid var(--lightblue);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

section .buy-sect .buy-card img{
  /* position: relative; */
  top: 0;
  left: 0;
  /* width: 80%; */
  /* height: 80%; */

}

section .buy-sect .buy-card .img-pro {
  height: 500px;
}

section .buy-sect .buy-card .img-flat {
  height: 450px;
} 

section .buy-sect .buy-card .info-cont{
  position: absolute;
  top: 53%;
  background-color: #f0ebd83d;
  width: 90%;
  padding: 0 1rem;
  /* border-radius: 5px; */

  /* Glass*/
background: rgba(116, 140, 171, 0.26);
border-radius: 6px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(4.7px);
border: 2px solid rgba(116, 140, 171, 0.37);



box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
-webkit-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
-moz-box-shadow: 6px 7px 5px -2px rgba(0,0,0,0.64);
}

section .buy-sect .buy-card .info-cont .feat{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;

}

section .buy-sect .buy-card .info-cont .feat1 img{
  width: 40px;
  margin-right: 1rem;
}

section .buy-sect .pixel6{
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 4rem;
  
}
section .buy-sect .pixel6pro{
  grid-column: 2/3;
  grid-row: 2/3;
  padding-right: 4rem;
}



@media screen and (max-width: 600px){
  section .buy-sect{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
  }
  section .buy-sect .pixel6{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  section .buy-sect .pixel6pro{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  section .buy-sect .pixel6{
    padding: 0;
  }
  section .buy-sect .pixel6pro{
    padding: 0;
    margin-top: 2rem ;
  }
}

section footer{
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
  height: 30vh;
  background-color: var(--grey);
  color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section footer .social{
  display: flex;
  width: auto;
  padding-top: 1rem;
}

section footer .social svg{
  padding: 0 1rem;
  width: 100%;
  max-width: 80px;
}
